.my-projects {
  width: 80vw;
  margin: 20px auto;
  & .title-wrapper {
    &.h2 {
      margin: 20px 0;
    }
  }
  &_container {
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;
    border-radius: 15px;
  }
  &_slider {
    width: 65%;
    height: 100%;
    background-color: black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    border-radius: 15px;
    z-index: 2;
  }
  &_description {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    z-index: 1;
    background-color: $dark-theme;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    border-radius: 15px;
  }
}